node_modules
dist
.tmp
.sass-cache
.DS_Store
npm-debug.log
tmp
.projects
*.orig

screenshots
videos
out.js
snapshots.js
.nyc_output
coverage
dist

package-lock.json
*.bat

*.mp4
*.png
*.xlsx
*.pdf

# IDE specific
.idea
.vscode

